.location-container {
  width: 90%;
  display: flex;
  padding-top: 30px;
  justify-content: center;

  @media screen and (max-width: 375px) {
    width: 100%;
  }
}

.location {
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.form {
  display: flex;
  justify-content: center;
  align-items: self-end;
}

.input-box {
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: orange; // will change depending on weather
  border-width: .01rem .01rem thin;
  width: 100%;
  padding-top: 10px;
  font-size: 0.9rem;
}

.form-inner {
  display: flex;
}

.set {
  font-size: 0.8rem;
  align-self: end;
  padding-top: 0 0 0 0;
  border: none;
  padding-top: 10px;
  cursor: pointer;
  &:hover {
    color: orange;
  }
}

.unit {
  font-size: 1rem;
  padding: 0 5px 0 5px;
  cursor: pointer;
  &:hover {
    color: orange;
  }
}

.bar {
  font-size: 0.9rem;
  color: orange;
}