.box-container {
  width: 100%;
}

.weather-card.box {
  background-color: light-grey;
  width: 60%;
  margin: 0 auto;
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;

  @media #{$phone}{
    width: 75%;
  }
}

.weather-card > img:nth-child(1) {
  width: 50%;
  height: auto;
 }
 
.weather-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-left: 20px;

  .temp {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .weather-descripton {
    font-size: 0.7rem;
    padding-bottom: 10px;
  }

  .date {
    font-size: 0.5rem;
  }

  .place {
    font-size: 0.5rem;
    padding-bottom: 5px;
  }

}

.empty {
  margin-bottom: 30px;
}